.mapText {
    position: absolute;
    top: 4rem;
    left: 3.5rem;
    color: #495965;
    z-index: 10;
    margin: 0;
    padding: 0;
}
.locate {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    z-index: 10;
}